.viewer {
    .flex(4, 4, 80%);
    overflow: hidden;
    padding: 5px;

    .flex-column;

    .nav {
        .flex(0, 0, 100px);

        .flex-column;

        >.sub-nav {
            .flex(0, 0, 50px);
            .flex-row;

            .form-group {
                margin-left: 10px;
                .flex(1, 1);
                .flex-row;
                .control-label {
                    .flex(0, 0, 60px);
                    .flex-row;

                    >* {
                        .flex(1, 1, 0);
                        align-self: center;
                        text-align: center;
                    }
                }
                .form-control {
                    .flex(1, 1, 0);
                }

            }
            >.select-type {
                .flex(0, 0, 250px);
            }


        }

        >.configs {
            .flex(1, 1);
            .flex-row;

            .form-group {
                .flex(1, 1);
                .flex-column;
                .form-control {
                    .flex(1, 1, 0);
                }

                &.axis {
                    .flex(0, 0, 160px);
                }
            }
        }


    }

    @import './chart.less';
    #energy {
        .flex(0, 0, 800px);
        width: 800px;
        height: 600px;
        border: 1px solid red;
    }

    .rects rect{
        stroke: #094201;
        stroke-width: 4;
        fill: none;
        opacity: 1;
    }

    .sun text {
        font-weight: bold;
        font-size: 20px;
    }
    .node rect {
        cursor: move;
        fill-opacity: .9;
        shape-rendering: crispEdges;
    }

    .node text {
        pointer-events: none;
        text-shadow: 0 1px 0 #fff;
        font-weight: bold;
        font-size: 14px;
    }

    .link {
        fill: none;
        stroke: #F28017;
        stroke-opacity: 1;
    }

    .link:hover {
        stroke: #E17006;
        stroke-opacity: 1;
    }

}

